# Ignore Python virtual environment
venv/
__pycache__/
*.pyc
pyvenv.cfg

# Ignore Environment Variables (API Keys)
.env

# Ignore the Local Database & User Data
profiles/
data/
*.db
*.json
*.txt

# Ignore VS Code settings
.vscode/